<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form method="post" th:action="@{/procesar}" th:object="${usuario}">
	<div>
		<label for="usuario">Usuario:</label>
		<input th:field="*{usuario}" id="usuario" type="text" placeholder="ingrese Usuario"/>
		<span th:errors="*{usuario}" style="color: #FF0000"></span>
	</div>
	
	<div>
		<label for="password">Contrase&ntilde;a:</label>
		<input th:field="*{contrasenia}" id="password" type="password" placeholder="ingrese contraseña"/>
		<span th:errors="*{contrasenia}" style="color: #FF0000"></span>
	</div>
	
	<div>
		<input type="submit" value="Iniciar sesion"/>
	</div>

</form>
</body>
</html>